<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.twiliovoice"
    version="2.0.0">

    <name>TwilioVoice</name>
    <description>Use the Twilio Voice SDK for iOS or Android with Cordova/PhoneGap. Successor to Twilio Client Plugin</description>
    <author>Jeff Linwood/Stevie Graham/Lyle Pratt</author>
    <license>MIT</license>

    <asset src="www/TwilioVoicePlugin.js" target="js/TwilioVoicePlugin.js" />

    <!-- ios -->
    <platform name="ios">
        <!-- Add the Twilio Voice plugin to the iOS app's config.xml -->
        <config-file target="config.xml" parent="widget">
          <feature name="TwilioVoicePlugin">
            <param name="ios-package"
                value="TwilioVoicePlugin"/>
          </feature>
        </config-file>

        <!-- Add support for background VOIP and audio to the plist -->
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>voip</string>
                <string>audio</string>
            </array>
        </config-file>

        <!-- Add Privacy Description for Microphone Usage -->
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
          <string>The app uses the microphone for voice calls</string>
        </config-file>

        <!-- Add push entitlements -->
        <config-file target="*/Entitlements-Debug.plist" parent="aps-environment">
          <string>development</string>
        </config-file>
        <config-file target="*/Entitlements-Release.plist" parent="aps-environment">
          <string>production</string>
        </config-file>
        

        <header-file src="src/ios/TwilioVoicePlugin.h" />
        <source-file src="src/ios/TwilioVoicePlugin.m" />


        <info>
You need to download __Twilio Voice SDK for iOS__ from https://media.twiliocdn.com/sdk/ios/voice/releases/2.0.0-beta6/twilio-voice-ios-2.0.0-beta6.tar.bz2. Uncompress the download - you will need to follow two steps that plugman can not do yet:

* Add the Twilio Voice framework (TwilioVoiceClient.framework) to your Xcode project
* Add the Twilio Voice framework (TwilioVoiceClient.framework) as an embedded binary to your Xcode project

        </info>
    </platform>
</plugin>
