<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.twiliovoice"
    version="2.0.0">

    <name>TwilioVoice</name>
    <description>Use the Twilio Voice SDK for iOS or Android with Cordova/PhoneGap. Successor to Twilio Client Plugin</description>
    <author>Jeff Linwood/Stevie Graham/Lyle Pratt</author>
    <license>MIT</license>

    <asset src="www/TwilioVoicePlugin.js" target="js/TwilioVoicePlugin.js" />

    <engines>
        <engine name="cordova" version=">=6.4.0"/>
        <engine name="cordova-android" version=">=6.0.0"/>
        <engine name="cordova-ios" version=">=4.3.0"/>
    </engines>

    <!-- Necessary for Android Push notification support with GCM for Twilio Voice -->
    <preference name="GCM_SENDER_ID" default=""/>

     <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        
        <receiver android:name="com.phonegap.plugins.twiliovoice.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>     

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="$PACKAGE_NAME" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.phonegap.plugins.twiliovoice.gcm.VoiceGCMListenerService"
            android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.phonegap.plugins.twiliovoice.gcm.VoiceInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name="com.phonegap.plugins.twiliovoice.gcm.GCMRegistrationService"
            android:exported="false"></service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/widget">
           <feature name="TwilioVoicePlugin">
              <param name="android-package" value="com.phonegap.plugins.twiliovoice.TwilioVoicePlugin"/>
            </feature>
        </config-file>

        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="gcm_sender_id" translatable="false">$GCM_SENDER_ID</string>
        </config-file>
        
        <framework src="com.google.android.gms:play-services-gcm:9.4.0" />
        <framework src="com.twilio:voice-android:2.0.0-beta4"/>

        <source-file src="src/android/com/phonegap/plugins/twiliovoice/TwilioVoicePlugin.java"
                target-dir="src/com/phonegap/plugins/twiliovoice" />
        <source-file src="src/android/com/phonegap/plugins/twiliovoice/SoundPoolManager.java"
                target-dir="src/com/phonegap/plugins/twiliovoice" />
        <source-file src="src/android/com/phonegap/plugins/twiliovoice/BootCompletedReceiver.java"
                target-dir="src/com/phonegap/plugins/twiliovoice" />
        <source-file src="src/android/com/phonegap/plugins/twiliovoice/gcm/GCMRegistrationService.java"
                target-dir="src/com/phonegap/plugins/twiliovoice/gcm" />
        <source-file src="src/android/com/phonegap/plugins/twiliovoice/gcm/VoiceGCMListenerService.java"
                target-dir="src/com/phonegap/plugins/twiliovoice/gcm" />
        <source-file src="src/android/com/phonegap/plugins/twiliovoice/gcm/VoiceInstanceIDListenerService.java"
                target-dir="src/com/phonegap/plugins/twiliovoice/gcm" />

        <source-file src="sounds/ringing.wav" target-dir="res/raw"/>

    </platform>

    <!-- ios -->
    <platform name="ios">
        <!-- Add the Twilio Voice plugin to the iOS app's config.xml -->
        <config-file target="config.xml" parent="widget">
          <feature name="TwilioVoicePlugin">
            <param name="ios-package"
                value="TwilioVoicePlugin"/>
          </feature>
        </config-file>

        <!-- Add support for background VOIP and audio to the plist -->
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>voip</string>
                <string>audio</string>
            </array>
        </config-file>

        <!-- Add Privacy Description for Microphone Usage -->
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
          <string>The app uses the microphone for voice calls</string>
        </config-file>

        <!-- Add push entitlements -->
        <config-file target="*/Entitlements-Debug.plist" parent="aps-environment">
          <string>development</string>
        </config-file>
        <config-file target="*/Entitlements-Release.plist" parent="aps-environment">
          <string>production</string>
        </config-file>
        

        <header-file src="src/ios/TwilioVoicePlugin.h" />
        <source-file src="src/ios/TwilioVoicePlugin.m" />

        <resource-file src="sounds/ringing.wav" />
        <info>
You need to download __Twilio Voice SDK for iOS__ from https://media.twiliocdn.com/sdk/ios/voice/releases/2.0.0-beta6/twilio-voice-ios-2.0.0-beta6.tar.bz2. Uncompress the download - you will need to follow two steps that plugman can not do yet:

* Add the Twilio Voice framework (TwilioVoiceClient.framework) to your Xcode project
* Add the Twilio Voice framework (TwilioVoiceClient.framework) as an embedded binary to your Xcode project

        </info>
    </platform>
</plugin>
